<h1 class="display-4">Member Details</h1>
<table class="table table-striped">
    <tr>
        <th>#</th>
        <th>&emsp;&emsp;&emsp;</th>
        <th>First Name&emsp;</th>
        <th>Last Name&emsp;</th>
        <th>Email</th>
        <th></th>
    </tr>
    <tbody>
        <% member.forEach(function(memb){ %>
            <tr>
                <td>
                    <%= memb.id %>
                </td>
                <td>&#9;</td>
                <td>
                    <%= memb.fname %>
                </td>
                <td>
                    <%= memb.lname %>
                </td>
                <td>
                    <%= memb.email %>&emsp;</td>
                <td>
                    <a href="/Member/edit/<%= memb.id %>" class="btn btn-primary">Edit</a>
                    <form class="d-inline" action="/Member/delete/<%= memb.id %>" method="post">
                        <input type="submit" class="btn btn-danger" value="Delete">
                    </form>
                </td>
            </tr>
            <% }) %>
    </tbody>
</table>